* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}

body {
    overflow-x: hidden;
    transition: all 2s ease;
    opacity: 0;
}

body.loaded{
    opacity: 1;
}


.teste {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: fixed;
    background-color: black;
    z-index: 10; /* Garante que fique em cima de outros elementos */
    color: white;
}

.element1{
    width: 20vw;
    height: 5vh;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#15ff00, black);
    border-radius: 30px;
    transition: all .55s ease;
    cursor: pointer;

    & h1 {
        margin-right: 50px;
    }
}

.element1-1{
    color: royalblue;
}


.element1:hover{
    transform: translateY(-8px);
}

.element2{
    & ul {
        width: 40vw;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
        
        & li a {
            color: white;
            font-weight: 500;
        }
    }
}

.menu {
    transition: all .55s ease;
}

.menu:hover{
    transform: translateY(-8px);
}


.python-icon{
    cursor: pointer;
    transition: all .55s ease;
}

.python-icon:hover{
    transform: translateY(-5px);
}


.python-icon {
    font-size: 65px;
    margin-left: 10px;
    background: radial-gradient(#15ff00, black);
    -webkit-background-clip: text; /* Faz o background clipe ao texto */
    -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
}

.sombra-r {
    width: 4vw;
    height: 2.5vh;
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100%;
}

.AdZero {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 15px #556B2F;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.content-text-AdZero{
    width: 65vw;
    height: 100%;
    background: url(src/background/pexels-pixabay-45246.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-adzero {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Texth2{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    font-size: 55px;
    background: radial-gradient(#15ff00, black);
    -webkit-background-clip: text; /* Faz o background clipe ao texto */
    -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
}

.conteudop1 {
    & p {
        font-size: 18px;
    }
}

.content-imgs-text-AdZero{
    width: 35vw;
    height: 88vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 90px;
    margin-top: 100px;
}

.img-1{
    width: 100%;
    height: 50%;
    background: url(src/miniatura_video/3\ dicas\ para\ vender\ qualquer\ coisa\ miniatura\ vídeo\ youtube.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 2px 15px 50px #15ff00;
    cursor: pointer;
    opacity: .7;
    transform: scale(0); /* Começa com escala 0 */
}

.img-2{
    width: 100%;
    height: 50%;
    background-color: purple;
    background: url(src/miniatura_video/comoapreendepythondozero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 2px 25px 50px #15ff00;
    cursor: pointer;
    opacity: .7;
    transform: scale(0); /* Começa com escala 0 */
}

.animated-box-AdZero {
    transition: all .55s ease;
}

.animated-box-AdZero:hover{
    transform: scale(1.05);
    opacity: 1;
}

.Pp {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 250px;
    background-color: black;
}

.projetos-mostra{
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.Pp-Text{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    margin-top: 100px;
}

.projects{
    width: 30vw;
    height: 30vh;
    border-radius: 10px;
    cursor: pointer;
    opacity: .7;
}

.projects-0{
    background-image: url(src/miniatura_video/CalculadoraSimple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 5px 20px #7ed957;
    
}

.projects-1{
    background-image: url(src/miniatura_video/contador_de_vogais.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 5px 20px #00d1ff;
}

.projects-2{
    background-image: url(src/miniatura_video/JogoDaAdvinhacao.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 5px 20px #cb6ce6;
}

.Ap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-image: url(src/background/Conquiste\ Liberdade\ Financeira\ Colorido\ 3D\ amarelo\ Preto\ e\ Azul\ para\ Miniatura\ do\ Youtube\ .png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.box {
    width: 19vw;
    height: 30vh;
    padding: 20px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    cursor: pointer;
    opacity: .7;
}

.container-ap{
    width: 100vw;
    height: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    overflow-y: auto;
}

.Ap-Text{
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
}

html {
    scroll-behavior: smooth;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
}



/*RESPONSIVIDADE */

/* Para telas menores que 768px (Tablets e Smartphones) */
@media (max-width: 768px) {

    .element1{
        width: 50vw;
        font-size: 13px;
    }
    .content-text-AdZero{
        height: 50%;
    }
    .content-imgs-text-AdZero {
        height: 50%;
        margin-top: 0px;
    }

    .conteudop1{
        width: 90vw;

        & p {
            font-size: 14px;
        }
    }

    .teste{
        position: absolute;
    }

    .element2{
        display: none;
    }

    .sombra-r{
        width: 20vw;
    }
    .AdZero{
        flex-direction: column;
    }
    .content-text-AdZero{
        width: 100vw;
        height: 100%;
    }
    .Texth2{
        font-size: 20px;
        margin-top: 70px;
    }
    .img-1{
        width: 75vw;
        height: 25vh;
        margin-left: 250px;
    }
    .img-2{
        width: 75vw;
        height: 25vh;
        margin-left: 250px;
    }
    .conteudop1{
        font-size: 10px;
    }
    .Pp-Text{
        font-size: 35px;
        padding: 10px;
    }
    .projetos-mostra{
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    .projects{
        width: 70vw;
        height: 90vh;
    }

    .Ap-Text{
        font-size: 35px;
        margin-left: 20px;
    }
    .container-ap{
        flex-direction: column;
        margin-right: 40px;
        gap: 70px;
        height: 70vh;
    }
    .box{
        width: 75vw;
    }
    footer{
        font-size: 14px;
        padding: 20px;
    }
}